.add-to-cart-button{
    height: 100%;
    width: 100%;
    padding:16px;
    border: #F28482 2px solid;
    background-color: #F28482;
}

.add-to-cart-button div{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
@media screen and (max-width: 500px) {
    .add-to-cart-button {
        padding:11px 0;
    }
}
@media screen and (max-width: 375px) {
    .add-to-cart-button div {
        font-size: 15px;
    }
}