
.arrow-icon{
    padding: 0 8px;
    border-right: 1px solid #dddddd;
}

.dropdown .dropdown-button{
    padding: 9px 0 9px 13px;
    color: #6B7280;
    background: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown .dropdown-content{
    width: 100%;
    min-width: 100px;
    position: absolute;
    top: 110%;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0, 0.06);
    color: #6B7280;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 5px 0px;
    text-align: center;
    font-size:xx-small;
    cursor: pointer;
    transition:  all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover{
    background: #F9FAFB;
}