.StepProgressBar-container {
  max-width: 100%;
  padding: 40px;
  margin: 0 auto;
  background: whitesmoke;
  position: relative;
  border: 1px solid #ddd;
}

.details {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order h1 {
  text-transform: uppercase;
}

.order span {
  color: #f28482;
}

.date p {
  font-size: 1.1rem;
}

.track {
  margin: 4em 0 8em;
  position: relative;
  height: 50px;
}

#progress {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;
  text-align: center;
}

#progress li {
  width: 20%;
  position: relative;
}

#progress li::before {
  content: "\2713";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 11111;
  background: #c8c7c6;
  color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#progress li.active::before {
  background: #f28482;
}

.progress-bar {
  content: "";
  position: absolute;
  top: 20px;
  height: 15px;
  background: #f28482;
  z-index: 111;
  transition: width 0.4s ease-in-out;
}

.lists {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  align-items: center;
}

.list {
  display: flex;
  gap: 1em;
  flex: 1 1 50px;
}

.list p {
  font-size: 1rem;
}

.list img {
  width: 50px;
}
