*{
    margin: 0;
    padding: 0;
}

.dashboard-body{
   width:100%;
   height:100%;
}
.dashboard-navigation{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-navigation-buttons{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #F7EDE2;
    border-radius: 50px;
}

.dashboard-navigation-buttons button{
    width:100%;
    font-size:xx-large;
    font-weight: bold;
    color: #F28482;
    background-color: transparent;
    flex-wrap: wrap;
    border: 0;
}

.dashboard-first-row-of-buttons{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.dashboard-second-row-of-buttons{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}


.dashboard-admins-list-button:hover{
    border: 20px;
    border-color: #F5CAC3;
    border-style: solid;
    border-radius: 50px 0 0 0;
}

.dashboard-users-list-button:hover{
    border: 20px;
    border-color: #F5CAC3;
    border-style: solid;
    border-radius: 0 50px  0 0;
}

.dashboard-products-list-button:hover{
    border: 20px;
    border-color: #F5CAC3;
    border-style: solid;
    border-radius: 0 0 0 50px;
}

.dashboard-catagories-list-button:hover{
    border: 20px;
    border-color: #F5CAC3;
    border-style: solid;
    border-radius: 0 0 50px 0;
}